{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block content %}
<div>
<div class="row bg-primary">
    <div class="col-12 text-center text-white py-5">
        <h1>Biblios</h1>
        <p>Catalogue en ligne de la médiathèque de Trifouillis-les-Oies</p>
        <button class="btn btn-light text-primary">Parcourez le catalogue</button>
    </div>
</div>
    
    <div class="container">
        <div class="row mt-5">
            
            <h2>Biblios: qu'est-ce que c'est ?</h2>
            <p>Biblios est la plateforme officielle de consultation du catalogue de la médiathèque de Trifouillis-les-Oies. Explorez notre collection avec une recherche efficace, vérifiez la disponibilité des ouvrages en temps réel, et effectuez des réservations en toute simplicité. Biblios s'engage pour faciliter l'accès à la culture et promouvoir la richesse de notre patrimoine littéraire.</p>
            <p>Fonctionnalités clés :</p>
            <ul>
                <li>Recherche avancée de livres</li>
                <li>Consultation en temps réel du statut des ouvrages (disponible, emprunté, indisponible)</li>
                <li>Affichage détaillé des informations sur les livres</li>
                <li>Processus de réservation simplifié</li>
            </ul>
        </div>
    </div>
    
{% endblock %}